$blueHeader: #1F1E38;
$lightColor: #FFFFFF;
$mainGreen: #39FFBF;
$mainRed: #F81D39;
$textGrey: #AAAA;
$chatColor: #527CEB;

$mainFont: 'Raleway', sans-serif;
$titleFont: 'Cantarell', sans-serif;
$fontMild: 200;
$fontSmall: 20px;
$spaceLetter: 5px;
$lessSpace: -3px;